body {
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  letter-spacing: normal;
  margin: 0px;
  background: transparent;
}
.container {
  width: 960px;
  padding: 24px 10px 25px 10px;
  margin: 0 auto;
}