header {
  width: 100%;
  background: #dcdcdc;
  height: auto;
  padding: 66px 0px 57px 0px;
  overflow: hidden;
  flex: 0 0 auto;
  .left_block {
    display: block;
    width: auto;
    height: auto;
    float: left;
  }
  .left_block img{
    padding-left: 2px;
    width: 273px;
    height: 100px;
  }
  .right_block {
    display: block;
    float: right;
    width: auto;
    height: auto;
    padding: 2px 5px 12px 5px;
  }
  .right_block p{
    font-family: 'Open Sans Condensed', sans-serif;
    display: block;
    margin: 0px 0px;
    color: #767676;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: right;
  }
}
menu  {
  width: 100%;
  background: #767676;
  height: auto;
  padding: 25px 0px 29px;
  overflow: hidden;
  margin: 0px 0px;
  nav {
    margin: 0 auto;
    width: 100%;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 0px 0px;
      width: 100%;
      li{
        font-size: 30px;

        padding: 2px 0px 4px 0px;
        border-right: 3px solid #fff;
        a {
          color: #fff;
          margin: 0 auto;
          padding: 0px 20px;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
        a:active {
          text-decoration: underline;
        }
      }
      li:last-child{
        border: none;
      }
    }


  }
}