header {
  width: 100%;
  background: #dcdcdc;
  height: auto;
  padding: 0px 0px 57px 0px;
  overflow: hidden;
  .left_block {
    margin-top: 66px;
    display: block;
    width: auto;
    height: auto;
    float: left;
  }
  .left_block img{
    padding-left: 2px;
    width: 273px;
    height: 100px;
  }
  .right_block {
    margin-top: 34px;
    display: block;
    float: right;
    width: auto;
    height: auto;
    padding: 2px 0px 12px 0px;
  }
  .right_block p{
    font-family: 'Open Sans Condensed', sans-serif;
    display: block;
    margin: 0px 0px;
    color: #767676;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: right;
  }
  .right_block {
    .feedback {
      width: fit-content;
      margin-top: 5px;
      font-family: 'PT Sans', sans-serif;
      color: #767676;
      font-size: 24px;
      line-height: 24px;
      text-align: right;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 0.6px;
      border-bottom: 2px dashed #767676;
      float: right;
      text-decoration: none;
    }
    .feedback:hover {
      color: #767676;
      text-decoration: none;
    }
    .feedback:active {
      color: #767676;
      text-decoration: none;
    }
  }
}
menu  {
  width: 100%;
  background: #767676;
  height: auto;
  padding: 25px 0px 29px;
  overflow: hidden;
  margin: 0px 0px;
  nav {
    margin: 0 auto;
    width: 100%;
    ul {
      flex-wrap: wrap;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 0px 0px;
      width: 100%;
      li{
        font-size: 30px;

        padding: 2px 0px 4px 0px;
        border-right: 3px solid #fff;
        a {
          color: #fff;
          margin: 0 auto;
          padding: 0px 20px;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
        a:active {
          text-decoration: underline;
        }
      }
      li:last-child{
        border: none;
      }
    }


  }
}