.bordered table, .bordered th, .bordered td {
  border: 1px solid black;
}
.bordered table {
  border-spacing: 10px;
}
.collapsed table, .collapsed th, .collapsed td {
  border: 1px solid black;
  border-collapse: collapse;
}
.collapsed th, .collapsed td {
  padding: 15px;
}
.collapsed td {
  text-align: right;
}