#slider {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  img {
  display: block;
  margin: 0 auto;
  margin-top: -55px;
  width: 1248px;
  height: 462px;
  }
}
#content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 22px 0px;
  line-height: 22px;
  margin: 0px;
  margin-bottom: 166px;
  .left_content_block {
    width: 287px;
    background: #777777;
    font-weight: 400;
    color: #fff;
    margin: 0px 0px;
    padding: 12px 33px 98px 33px;
    display: block;
    height: auto;
    float: left;
    h2 {
      margin: 0px;
      font-size: 38px;
      font-style: normal;
      letter-spacing: 1px;
      line-height: normal;
    }
    ul {
      list-style-type: none;
      padding: 0px;
      li:nth-child(2n+1) {
        margin-top: 20px;
      }
      .news_hedlines {
        font-style: italic;
      }
      .news_items {
        text-align: justify;
      }
    }
    p {
      text-align: right;
      text-decoration: underline;
      margin: 0px;
      margin-top: 35px;
      padding-right: 26px;
    }
  }
  .right_content_block {
    text-align: left;
    display: block;
    color: #767676;
    float: right;
    width: 549px;
    height: auto;
    margin: 0px 0px;
    padding: 8px 22px 47px 50px;
    h2 {
      margin: 0px;
      font-weight: 100;
      font-size: 40px;
      font-style: normal;
      letter-spacing: 1px;
      line-height: normal;
    }
    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      li {
        margin-top: 20px;
        p {
          text-align: justify;
          margin: 0px;
          padding: 0px;
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
        }
      }
    }
  }
}