h1  {
    color: blue;
}
h2.first_indexed_as_second_headline {
    color: green;
}
h2 {
    color: grey;
}
h2 .first_indexed_as_second_headline {/* if take of space between h2 and class... than this style
would actually apply*/
    color: grey;
}
h3  {
    color: red;
}
#valuable_headline {
    color: yellow;
}
h3#valuable_headline {/* has priority over #..... style*/
    color: darkorchid;
}
#more_valuable_headline {/* has priority over tag.... style */
    color: teal;
}
#no_value {
    color: darkseagreen;
}
h3.no_valuable_headline {
    color: orangered;
}
/*Classes less priority than id's and tags less than classes, more direct root giving priority over
 classes, id's and tags(tag+class over classes and tags separate, and tag+id over id or tag or
  class separate)*/

/*Class for floating that allow us to push element that follows after the element that is posses float
properties, down.*/
/*When we work with floating there may be problems with background, so it is adviced to try
 for use overflow property to fix that:
 .box... {overflow:auto;}*/
* {
    box-sizing: border-box;
}
body {
    height: 4000px;
}
.clr {
    clear: both;
}
.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    height: 3000px;
}
.box {
    border: 2px solid yellow;
    float: none;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0px;
    position: sticky;
    top: 0px;
    z-index: -1;
}
.box-1{
    border: 2px solid purple;
    float: right;
    width: 30%;
    padding: 10px 20px;
    margin: 10px 0px;
    z-index: 1;
}
.box-2 {
    border: 2px solid #80002d;
    float: left;
    width: 68%;
    padding: 10px 20px;
    margin: 10px 0px;
    z-index: 1;
}
.box-3 {
    border: 2px solid #008071;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0px;
    z-index: 1;
}/*after first 2 block with float add div with clr class to push 3-rd box down*/
/*last child use:
.class item:last-child {...}*/
.box-4 {
    border: 2px solid #ffc601;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0px;
    z-index: 1;
    /*position: sticky;do that when u scroll element become fixed but only when u scroll beyond
     the line*/
}
